version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: carrom_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: carrom_user
      POSTGRES_PASSWORD: carrom_pass_dev
      POSTGRES_DB: carrom_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: carrom_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
